@import "~vue-material/dist/theme/engine";

@include md-register-theme(
  "default",
  (
    primary: md-get-palette-color(lightgreen, 400),
    accent: md-get-palette-color(red, A400),
    theme: dark
  )
);

@import "~vue-material/dist/theme/all";

/* Page Transitions */
.page-enter,
.page-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.25s;
}
